body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather Sans", sans-serif;
}

div {
  margin: 100px 0;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 4px;
  width: 3.5%;
}

h1 {
  font-family: "Sacramento", cursive;
  font-size: 562.5%;
  color: #66bfbf;
  margin: 50px auto 0 auto;
}

h2 {
  margin-top: 4%;
  font-family: "Montserrat", sans-serif;
  color: #66bfbf;
  font-weight: normal;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

a {
  color: #11999e;
  text-decoration: none;
}

.btn {
  background-color: #66bfbf;
  color: #eaf6f6;
  padding: 1%;
  margin: 20px;
}

.footer-link {
  line-height: 2;
  display: inline-block;
  margin-top: 2%;
  width: 10%;
}

.headline {
  color: #40514e;
  margin-bottom: 4%;
}

.skill-img-1 {
  width: 25%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.skill-img-2 {
  width: 25%;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  display: block;
  position: relative;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.top-container {
  background-color: #eaf6f6;
  height: 100%;
  margin: 0;
  position: relative;
}

.bottom-container {
  margin-bottom: 0px;
  background-color: #66bfbf;
  margin-top: 2%;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  padding-top: 5%;
  position: relative;
  left: 18%;
}

.bottom-cloud {
  position: absolute;
  right: 65%;
}

#copyright {
  margin-bottom: 0px;
  padding-bottom: 2%;
}

#profile-pic {
  margin-top: 2%;
  border-radius: 50%;
}

.intro {
  font-size: 1.5rem;
  color: #66bfbf;
  font-weight: normal;
  margin: auto;
}
